* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #2B2B2B;
    color: #444;
}

a{
    color: #fff;
    text-decoration: none;
}
a:hover,
a:active,
a:focus {
    color: #007bff;
    text-decoration: none;
    outline: none;
}

p {
    padding: 0px;
    margin: 0 0 30px 0;
    font-size: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
}

/* Menu */

#header {
    height: 50px;
    z-index: 997;
    padding: 20px 0;
    background-color: #161616;
    box-shadow: 0px 0px 30px  rgba(255, 255, 255, 0.3);
}

#header .logo-top{
    padding: 0px;
    padding-left: 30px;
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

div .logo-top {
    width: 90px;
    height: auto;
}

.menu-container {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    bottom: 70px;
    left: 100px;
}

.menu-container ul{
    width: 600px;
    padding-left: 200px;
}

.menu-container ul li{
    position: relative;
    display: inline-block;
}

.menu-container a{
    display: block;
    position: relative;
    padding: 10px 15px;
}

table{
    color: white;
    padding: 60px;
    font-size: 30px;
}

footer{
    padding: 30px;
    background-color: #161616;
}

footer img{
    width: 30px;
    padding-left: 500px;
}