@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #2B2B2B;
    color: #444;
    font-family: 'Roboto';
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a{
    color: #fff;
    text-decoration: none;
}
a:hover,
a:active,
a:focus {
    color: #007bff;
    text-decoration: none;
    outline: none;
}

p {
    margin: 10px 0;
  }

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

img {
    width: 100%;
}


/* Menu */
.navbar {
    background-color: #161616;
    height: 110px;
    box-shadow: 0px 0px 30px  rgba(255, 255, 255, 0.3);
}

.container {
    max-width: 100%;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.menu-flex {
    display: flex;
    align-items: center;
    width: auto;
    height: 100px;
    margin: 10px;
    justify-content: center;
    justify-content: space-around;
}

.menu-item1{
    order: 3;
}

.menu-item2{
    order: 2;
}

.menu-item3 {
    order: 1;
}

.logo {
    width: 100px;
    height: 100px;
}

.menu-item4 {
    order: 4;
}

.menu-item5 {
    order: 5;
}

.menu-item6{
    width: 30px;
    height: 30px;
}

.fotoInicio {
    width: auto;
    height: 600px;
    padding: 30px 50px;
    margin: 30px;    
}

.separador{
    background-color: #2B2B2B;
    margin: 80px;
}

.sobreMi{
    padding: 60px;
    background-color: #171010;
}

.sobreMi-flex{
    display: flex;
    width: auto;
    justify-content: center;
    justify-content: space-around;
}

.sobreMi-flex1 {
    align-self: flex-start;
    font-size: 20px;
    color: white;
}

.sobreMi-flex2 {
    align-self: flex-end;
    width: 400px;
}


/* #header {
    height: 50px;
    z-index: 997;
    padding: 20px 0;
    background-color: #161616;
    
}

#header .logo-top{
    padding: 0px;
    padding-left: 30px;
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

div .logo-top {
    width: 90px;
    height: auto;
}

.menu-container {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    bottom: 70px;
    left: 100px;
}

.menu-container ul{
    width: 600px;
    padding-left: 200px;
}

.menu-container ul li{
    position: relative;
    display: inline-block;
}

.menu-container a{
    display: block;
    position: relative;
    padding: 10px 15px;
}




.sobreMi h1{
    color: white;
    font-size: 40px;
}

.sobreMi p{
    color: white;
    width: 400px;
    margin: 0;
    
}

.sobreMi img {

    margin-top: -500px;
    margin-left: 550px;
    width: 400px;
    border-radius: 20px;
}



.servicios{ 
    padding: 60px;
    background-color: #171010;
}

.box1{
    color: white;
    width: 250px;
}
.box2{
    color: white;
    width: 150px;
    margin-top: -49px;
    margin-left: 400px;
}
.box3{
    color: white;
    width: 250px;
    margin-top: -49px;
    margin-left: 700px;
}

.contacto{
    padding: 90px;
    background-color: #171010;
}

form {
    position: relative;
    padding-left: 250px;
    width: auto;
    font-size: 30px;   
}

form h3{
    color: white;
}

footer{
    padding: 30px;
    background-color: #161616;
}

footer img{
    width: 30px;
    padding-left: 500px;
}
 */



















