@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #2B2B2B;
    color: #444;
    font-family: 'Roboto';
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a{
    color: #fff;
    text-decoration: none;
}
a:hover,
a:active,
a:focus {
    color: #007bff;
    text-decoration: none;
    outline: none;
}

p {
    margin: 10px 0;
  }

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

img {
    width: 100%;
}


/* Menu */
.navbar {
    background-color: #161616;
    height: 110px;
    box-shadow: 0px 0px 30px  rgba(255, 255, 255, 0.3);
}

.container {
    max-width: 100%;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.menu-flex {
    display: flex;
    align-items: center;
    width: auto;
    height: 100px;
    margin: 10px;
    justify-content: center;
    justify-content: space-around;
}

.menu-item1{
    order: 3;
}

.menu-item2{
    order: 2;
}

.menu-item3 {
    order: 1;
}

.logo-animate__flash {
    width: 100px;
    height: 100px;
    animation: flash;
    animation-duration: 2s;

}

.menu-item4 {
    order: 4;
}

.menu-item5 {
    order: 5;
}

.menu-item6{
    width: 30px;
    height: 30px;
}


.separador{
    background-color: #2B2B2B;
    margin: 80px;
}

.sobreMi{
    padding: 60px;
    background-color: #171010;
}

.sobreMi-flex{
    display: flex;
    width: auto;
    justify-content: center;
    justify-content: space-around;
}

.sobreMi-flex1 {
    align-self: flex-start;
    font-size: 20px;
    color: white;
}

.sobreMi-flex2 {
    align-self: flex-end;
    width: 400px;
}

.animate__backInUp {
    display: inline-block;
    animation: backInUp;
    animation-duration: 3s; /* don't forget to set a duration! */
  }