.navbar {
    background-color: #161616 !important;
    box-shadow: 0px 0px 30px  rgba(255, 255, 255, 0.3);


    .nav-link {
    font-size: 20px;


        .nav {
    background-color: #161616 !important;
        }
    }
}