@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import "BarraMenu";
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #2B2B2B !important;
    color: #444 !important;
    font-family: 'Roboto';
    line-height: 1.6;
}

ul {
    list-style-type: none;


    a{
    color: #fff !important;
    text-decoration: none;

        a:hover,
        a:active,
        a:focus {
        color: #007bff !important;
        text-decoration: none;
        outline: none;
        }
    }
}